/************** HARD SKILLS ****************/

.greyscale {
	-webkit-filter: grayscale(1);
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
			
	&:hover {
		filter: none;
		-webkit-filter: grayscale(0%);
		transition: ease .9s;
	}
}

.hard-skills {
	margin: 0 auto;
	max-width: 880px;
	max-width: 55rem;
	text-align: center;
}


/************** SOFT SKILLS ****************/

.soft-skills p {
	border-top: 1px $black solid;
	padding: 5%;
	margin: auto;
	line-height: 1.3;
	max-width: 25em;
	letter-spacing: 0.05em;
	text-align: left;
	hyphens: auto;
}

.soft-skills .row{
	align-items: center;
	.item {
	background: $grey;
	border-radius: 5%;
	margin: 1em;
	padding: 1em;
	border: 1px $black solid;
	max-width: 30em;
	@include medium-screen{
			margin: auto;
			}
	@include medium-screen{
			margin: 1em;
			}
		span {
			color: $black;
		}
	}
}

.skewed-bg {
  
  background: $white;
  padding: 0;
  -ms-transform: skew(0deg, -5deg);
  -webkit-transform: skew(0deg, -5deg);
  transform: skew(0deg, -5deg);
  margin-top: -12em;
  background-image: url("../img/about-bg.jpg");

	.soft-skills {
	  -ms-transform: skew(0deg, 5deg);
	  -webkit-transform: skew(0deg, 5deg);
	  transform: skew(0deg, 5deg);
	 .row .item {
	 text-align: center;
	 }
	  padding-top: 10em;
		
		h1 {
			display: inline-block;
			padding: 0;
			margin-top: 4.5em !important;
			background: $white;
			text-align: left;
			@include small-screen {
			margin-top: 3em !important;
			}
			@include medium-screen {
			margin-top: 2em !important;
			}
		}
		
	}
}

.soft-skills .row:last-child {
    padding-bottom: 2em;
}


/************** LOVE AND HATE ****************/

.lovehate .row{
	margin: 0 auto;
			.item ul{
				list-style-type: none;

				p {
					font-weight: 300;
					display: inline-block;
					color: $white;
					transform: translateY(-50%);
					
					@include medium-screen{
					@include font-size(20px);
					}
					}
				
					
			}	
			.love ul li {
				background: $lovered;
				color: $white;
				margin: 1em;
				padding: 0.2em;
				border-radius: 5px;
				@include medium-screen {
				padding: 0.8em;
				}
			}
			.hate ul li {
				background: $black;
				color: $white;
				margin: 1em;
				padding: 0.2em;
				border-radius: 5px;
				@include medium-screen {
				padding: 0.8em;
				}
				}
					span {
						padding-right: 5%;
						@include font-size(8px);
						margin: -20px !important;
						opacity: 0.4;
						position: relative;
						overflow: hidden;
						@include medium-screen {
						@include font-size(12px);
				}
					}
}
			


.skewed-bg2 {
	background-color: $lightgold;
	padding: 0.1em;
	-ms-transform: skew(0deg, -5deg);
	-webkit-transform: skew(0deg, -5deg);
	transform: skew(0deg, -5deg);
	background-image: url("../img/background.jpg");
		.lovehate {
		  -ms-transform: skew(0deg, 5deg);
		  -webkit-transform: skew(0deg, 5deg);
		  transform: skew(0deg, 5deg);
		  
			h1 {
			display: flex;
			align-items: center;
			  -ms-transform: skew(0deg, -5deg);
			  -webkit-transform: skew(0deg, -5deg);
			  transform: skew(0deg, -5deg);
			 
			display: inline-block;
			padding: 0;
			margin-top: 2em !important;
			background: $white;
		
			@include medium-screen {
			margin-top: 1em !important;
			}
		}
	}
}

/************** CV Download ****************/

.button {
	font-family: $body;
	color: $white !important;
	text-decoration: none !important;
	text-align: center;
	margin: 0 auto;
	padding: 0.25em 0.5em;
	border: 1px $black solid;
	background: $cta !important;
	display: block;
	max-width: 20em;
	margin-bottom: 2em;
	 -ms-transform: skew(0deg, 5deg);
		  -webkit-transform: skew(0deg, 5deg);
		  transform: skew(0deg, 5deg);
		  
		&:hover{
			background: $grey !important;
			color: $black !important;
			transition: ease .9s;
		}	
}


