/************** BLOG ****************/
.blog {
	text-align: center;
	background: url("../img/about-bg.jpg");
}


.blogpost {
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) ;
	padding: 1.5em;
	margin: 1.5em;
		hr {
			color: #333;
			width: 5em;
			text-align: center;
			margin: 0.5em auto;
		}
		h2 {
			text-align: center;
			font-weight: 400;
			@include small-screen {
			@include font-size(30px);
			}
		}
		p{
		padding-bottom:1em;
		padding-top:1em;
		max-width: 450px;
		margin: auto;
		}

}


.heroimg {
	margin: 0 auto;
	margin-top: 5em;
	text-align: center;
}


.container {
	h1{
	margin-top: 3em;
	@include medium-screen{
	margin-top: 2em;
	}
	@include large-screen{
	@include font-size(70px);
	}
	}

	h2,h3{
	margin-left: 3%;
	margin-right: 3%;
	}


	ul li {
	list-style-type:none;
	}
	.blog-title {
	margin-top: 0em;
}
	.hero-title {
	padding-top: 0em;
	padding-bottom: 0em;
	}
}