/************** CONTACT ****************/

.contact-info {
	margin: 0 auto; 
	text-align: center; 
	background: $white;
	border: 1px $black solid;
	width: 22em;
	max-width: 95%;
	padding: 2%;
	margin-bottom: 6%;
}

.contact {
	min-height: 90vh;
	background: url('../img/contact-bg.jpg') !important;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center; 
			align-items: center;
	
		}


.contact .row a {
	padding-bottom: 2em;
	margin: 2em;
	text-align: center;
}


#form {
  border: 1px $black solid;
  margin: 0 auto;
  text-align: center;
  padding: 2%;
  background: $darkgrey;
  max-width: 90%;
  margin-bottom: 2em;
}

#name, #email, #message, #submit {
	display: block;
	padding: 4%;
	text-align: center;
	margin: .5em auto;
	width: 300px;
	max-width: 90%;
}

#message {
	height: 200px;
}
label {
	font-family: $body;
	color: $white;
	font-weight: bold;
	font-size: 1.2em;
}