/************** HEADER & INTRO ****************/

.header{
	background: url("../img/header-bg.jpg") no-repeat  center center fixed;
	background-size: cover;
	border-bottom: 1px #333 solid;
}


.coloured {
	color: $span !important;
}



.hero .row{
		align-items: center;
		@include large-screen{
		max-width: 65em;
		}
 .item  {
		.herotext {
			background: $white;
			border: 1px $grey solid;
			padding: 5%;
			
			max-width: 35em;
			opacity: 0.7;
		}
		img {
			padding-bottom: 2em;
			height: auto;
			max-width: 100%;
			}
}
}

.bubble{
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
	
	&::before {
    background-color: $white;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}
}



.me {
    float: left;   
    margin: 5px 45px 5px 20px;   
 &::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;     	
}
}



.button2 {
	padding: 1em 2em;
	border: 1px #333 solid;
	font-family: $body;
	color: $black;
	margin: 1em auto;
	text-align: center;
	max-width: 15em;
	display: block;
	text-decoration: none !important;
	&:hover{
		background: $black;
		color: $grey;
		opacity: 0.9;
		transition: ease .9s;
		opacity: 0.9;
	}	
}

.featured {
	background: $black;
	opacity: 0.6;
}

.featured p {
	opacity: 1;
	color: $white !important;
}
