/************** PORTFOLIO ****************/
.work h1 {
	padding-bottom: 0;
	@include font-size(80px);
}

ul#filter { 
  list-style: none; 
  margin-left: 0; 
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  background: $grey;
	a { 
		color: $black; 
		text-decoration: none; 
	}
	
	li { 
		border-right: 1px solid $lightgrey;
		margin-right: 10px;
		padding-right: 10px;
		display: inline-block;
	  
	   &:last-child {
		border-right: none; 
		margin-right: 0; 
		padding-right: 0; 
		}
	}
}


ul#filter li.current a, ul#filter a:hover {
	text-decoration: underline; 
}

ul#filter li.current a { 
	color: #333; font-weight: bold; 
}

ul#portfolio { 
  list-style: none; 
  margin-left: 0; 
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  
	
	 li { 
	  margin: 1em 0; 
	  padding: 0;
	  max-width: 100%;
	  display: inline-block;
	  
		a {  
			width: 100%;
			display: inline-block; 
			text-decoration: none;
			font-family: $body;
			font-weight: 400;
			letter-spacing: 0.05em;
			
			&:hover { 
				text-decoration: none;
				transition: ease .9s;}
				
		}
	}
}

/****/
.titlezoom{display:inline-block;overflow:hidden;position:relative;text-decoration:none;}
.titlezoom:before{display:block;background-color:#000;content:"";height:100%;opacity:0;position:absolute;width:100%;z-index:2}
.titlezoom:after{display:block;background-color:rgba(255,255,255,0.8);color:#000;content:attr(title);left:-100%;position:absolute;text-align:center;text-transform:uppercase;top:5%;width:94%;z-index:3;padding:2% 3%}
.titlezoom img{border:none;display:block;z-index:1}
.titlezoom:before,.titlezoom:after,.titlezoom img{-webkit-transition:all 200ms ease;-moz-transition:all 200ms ease;-o-transition:all 200ms ease;transition:all 200ms ease}
.titlezoom:hover img{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}
.titlezoom:hover:before{opacity:0.3}
.titlezoom:hover:after{left:0}


